<nav>
    <img src="upload/logo.png" alt="logo">
    <ul>
            <li><a href="/index" title="home">Home</a></li>
            <li><a href="/matches" title="matches">Matches<span class="notification">+1</span></a></li>
            <li><a href="/profile" title="profiel">Profiel</a></li>
            <li><a href=/logout title="logout">Log uit</a></li>
    </ul>
</nav>