<% include partials/head.ejs %>
   <body id="index">
      <header>
         <nav>
            <img src="" alt="logo">
            <ul>
                    <li><a href="/home" title="home">Home</a></li>
                    <li><a href="/explorel" title="Explore">Explore</a></li>
                    <li><a href="/login">Log in</a></li>
                    <li><a href="/register">Register</a></li>
            </ul>
         </nav>
      </header>
      <main>
         <section>
            <img class="banner" src="images/iPhone.png" alt="banner foto">
            <h1>De beste app voor sportieve singles</h1>
         </section>
         <!--sectie/gedeelte van de pagina-->
         <h2>Populaire Verhalen</h2>
         <section>
            <article>
               <h3></h3>
               <button class="download" id="okDownload">Download</button>
               <img src="images/Moe.png" alt="book Moe">
               <p>
                  De buschauffeur port me wakker...
               </p>
               <a href="">Lees meer</a>
            </article>
            <article>
               <h3>Johan</h3>
               <button class="download" id="okDownload">Download</button>
               <img src="images/johan.png" alt="book johan cruijf">
               <p>
                  Ik stap bus 21 uit terwijl ik...

               </p>
               <a href="">Lees meer</a>
            </article>
            <article>
               <h3>Regenboog</h3>
               <button class="download" id="okDownload">Download</button>
               <img src="images/Regenboog.png" alt="book Regenboog">
               <p>
                  Bus 21. Ik stap uit. Het is een...
               </p>
               <a href="">Lees meerl</a>
            </article>
         </section>
      </main>


<% include partials/footer.ejs %>
