<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="index">
   <header>
      <% include ../partials/nav.ejs %>
   </header>
   <main>
      <section>
         <h1>Begin met swipen en match met mensen</h1>
         <div class="gallery">
            <div class="slide-wrapper">
               <div class="slide">
                  <ul>
                     <img src="upload/woman.jpg" alt="Profiel foto">
                     <li> <button class="dislike">Dislike</button>
                     </li>
                     <li> <button class="like" id="likeButton">Like</button>
                     </li>
                  </ul>
               </div>
               <div class="slide">
                  <ul>
                     <img src="upload/woman.jpg" alt="Profiel foto">
                     <li> <button class="dislike">Dislike</button>
                     </li>
                     <li> <button class="like" id="likeButton">Like</button>
                     </li>
                  </ul>
               </div>
               <div class="slide">
                  <ul>
                     <img src="upload/woman.jpg" alt="Profiel foto">
                     <li> <button class="dislike">Dislike</button>
                     </li>
                     <li> <button class="like" id="likeButton">Like</button>
                     </li>
                  </ul>
               </div>
               <div class="slide">
                  <ul>
                     <img src="upload/woman.jpg" alt="Profiel foto">
                     <li> <button class="dislike">Dislike</button>
                     </li>
                     <li> <button class="like" id="likeButton">Like</button>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </section>
   </main>
   <footer>
         <p>© 2019 Online Sport Dating</p>
      </footer>
	  <script src="/javascripts/notification.js"></script>
   </body>
</html>