<!DOCTYPE html>
<html>
<head>
   <title>Single Sport Dating</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body id="inlog">
   <header>
      <nav>
         <img src="" alt="logo">
      </nav>
   </header>
   <main>
      <!--sectie/gedeelte van de pagina-->
      <section>
         <article>
            <h1>Log hier in om naar sportieve singles te zoeken</h1>
            <form action="/users/login" method="POST">
               <fieldset>
                  <legend>Inloggen</legend>
                  <label>
                     E-mail<input type="email" name="email" required>
                  </label>
                  <label>
                     Wachtwoord<input type="password" name="password" required>
                  </label>
                  <input type="submit" value="Inloggen">
               </fieldset>
            </form>
         </article>
         <article>
            <h2>Nog geen account?</h2>
            <ul>
               <li>Ontmoet nieuwe mensen!</li>
               <li>Sportieve mensen opzoek naar nieuwe connecties</li>
               <li>Al meer dan 300.000 gebruiker</li>
            </ul>
            <a href="/register">Registreer nu!</a>
         </article>
      </section>
   </main>
   <footer>
      <p>© 2019 Online Sport Dating</p>
   </footer>
</body>
</html>