<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>
<body id="matches">
    <header>
        <% include ../partials/nav.ejs %>
    </header>
    <main>
        <!--sectie/gedeelte van de pagina-->
        <section>
            <h1>Jouw Matches</h1>
            <ul>
                <li>
                    <article>
                        <img src="upload/woman.jpg" alt="Profiel foto">
                        <h3>Sylvia, 21</h3>
                        <footer>
                            <ul>
                                <li> <button class="favbutton"> Favoriet </button>
                                </li>
                                <li> <button class="chatbutton"> Chat </button>
                                </li>
                            </ul>
                        </footer>
                    </article>
                </li>
                    <li>
                        <article>
                            <img src="upload/woman.jpg" alt="Profiel foto">
                            <h3>Sylvia, 21</h3>
                            <footer>
                                <ul>
                                    <li> <button class="favbutton"> Favoriet </button>
                                    </li>
                                    <li> <button class="chatbutton"> Chat </button>
                                    </li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <img src="upload/woman.jpg" alt="Profiel foto">
                            <h3>Sylvia, 21</h3>
                            <footer>
                                <ul>
                                    <li> <button class="favbutton"> Favoriet </button>
                                    </li>
                                    <li> <button class="chatbutton"> Chat </button>
                                    </li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <img src="upload/woman.jpg" alt="Profiel foto">
                            <h3>Sylvia, 21</h3>
                            <footer>
                                <ul>
                                    <li> <button class="favbutton"> Favoriet </button>
                                    </li>
                                    <li> <button class="chatbutton"> Chat </button>
                                    </li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <img src="upload/woman.jpg" alt="Profiel foto">
                            <h3>Sylvia, 21</h3>
                            <footer>
                                <ul>
                                    <li> <button class="favbutton"> Favoriet </button>
                                    </li>
                                    <li> <button class="chatbutton"> Chat </button>
                                    </li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <img src="upload/woman.jpg" alt="Profiel foto">
                            <h3>Sylvia, 21</h3>
                            <footer>
                                <ul>
                                    <li> <button class="favbutton"> Favoriet </button>
                                    </li>
                                    <li> <button class="chatbutton"> Chat </button>
                                    </li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <img src="upload/woman.jpg" alt="Profiel foto">
                            <h3>Sylvia, 21</h3>
                            <footer>
                                <ul>
                                    <li> <button class="favbutton"> Favoriet </button>
                                    </li>
                                    <li> <button class="chatbutton"> Chat </button>
                                    </li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    <li>
                        <article>
                            <img src="upload/woman.jpg" alt="Profiel foto">
                            <h3>Sylvia, 21</h3>
                            <footer>
                                <ul>
                                    <li> <button class="favbutton"> Favoriet </button>
                                    </li>
                                    <li> <button class="chatbutton"> Chat </button>
                                    </li>
                                </ul>
                            </footer>
                        </article>
                    </li>
                    </ul>
        </section>
    </main>
    <% include ../partials/footer.ejs %>