<% include ../partials/head.ejs %>
<body id="start">
    <header>
        <nav>
           <img src="" alt="logo">
           <ul>
             <li><a href="/home" title="home">Home</a></li>
             <li><a href="/explorel" title="Explore">Explore</a></li>
             <li><a href="/login">Log in</a></li>
             <li><a href="/register">Register</a></li>
           </ul>
        </nav>
     </header>
    <main>

        <section>
            <p><img src="images/logo/logo-active.png" alt="Logo"></p>
            <h1>Sport date</h1>
            <p><a href="/register">Start</a></p>
        </section>
    </main>
    <% include ../partials/footer.ejs %>