<% include ../partials/head.ejs %>

<body id="matches">
    <header>
        <nav>
            <img src="" alt="logo">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/matches">Matches</a></li>
                <li><a href="/login">Log in</a></li>
                <li><a href="/profile">Profiel</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!--sectie/gedeelte van de pagina-->
        <section>
            <h1>Jouw Matches</h1>
            <ul>
                <li>
                    <article>
                        <img src="upload/woman.jpg" alt="Profiel foto">
                        <h3>Sylvia, 21</h3>
                        <footer>
                            <ul>
                                <li> <button class="favbutton"> Favoriet </button>
                                </li>
                                <li> <button class="chatbutton"> Chat </button>
                                </li>
                            </ul>
                        </footer>
                    </article>
                </li>
                <li>
                    <article>
                        <h3>Olivia, 20</h3>
                        <img src="upload/woman.jpg" alt="Profiel foto">
                        <footer>
                <li> <button class="favbutton"> Favoriet </button>
                </li>
                <li> <button class="chatbutton"> Chat </button>

                </li>
            </ul>
            </footer>
            </article>
            </li>
            <li>
                <article>
                    <h3>Bob, 22</h3>
                    <img src="upload/woman.jpg" alt="Profiel foto">
                    <footer>
                        <ul>
                            <li> <button class="favbutton"> Favoriet </button>
                            </li>
                            <li> <button class="chatbutton"> Chat </button>

                            </li>
                        </ul>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <h3>Josef, 19</h3>
                    <img src="upload/woman.jpg" alt="Profiel foto">
                    <footer>
                        <ul>
                            <li> <button class="favbutton"> Favoriet </button>
                            </li>
                            <li> <button class="chatbutton"> Chat </button>

                            </li>
                        </ul>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <h3>Michelle, 20</h3>
                    <img src="upload/woman.jpg" alt="Profiel foto">
                    <footer>
                        <ul>
                            <li> <button class="favbutton"> Favoriet </button>
                            </li>
                            <li> <button class="chatbutton"> Chat </button>

                            </li>
                        </ul>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <h3>Kevin, 19</h3>
                    <img src="upload/woman.jpg" alt="Profiel foto">
                    <footer>
                        <ul>
                            <li> <button class="favbutton"> Favoriet </button>
                            </li>
                            <li> <button class="chatbutton"> Chat </button>

                            </li>
                        </ul>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <h3>Jarissa, 20</h3>

                    <img src="upload/woman.jpg" alt="Profiel foto">
                    <footer>
                        <ul>
                            <li> <button class="favbutton"> Favoriet </button>
                            </li>
                            <li> <button class="chatbutton"> Chat </button>

                            </li>
                        </ul>
                    </footer>
                </article>
            </li>
            <li>
                <article>
                    <h3>Fred, 18</h3>
                    <img src="upload/woman.jpg" alt="Profiel foto">
                    <footer>
                        <ul>
                            <li> <button class="favbutton"> Favoriet </button>
                            </li>
                            <li> <button class="chatbutton"> Chat </button>
                            </li>
                        </ul>
                    </footer>
                </article>
            </li>
            </ul>
        </section>
    </main>
    <% include ../partials/footer.ejs %>