<!DOCTYPE html>
<html>
<head>
    <% include ../partials/head.ejs %>
</head>

<body id="profile">
    <header>
            <% include ../partials/nav.ejs %>
    </header>
    <main>
        <section>
            <article>
                <img src="upload/woman.jpg" alt="Profielfoto">
                <h2><%=user.first_name %></h2>
            </article>
        </section>
        <section class="profile-info">
            <article>
                <ul>
                <li>
                    <i>Leeftijd:</i>
                    <b><%=user.age %></b>
                </li>
                <li>
                    <i>Doet aan de sport:</i> 
                    <b><%=user.sport %></b>
                </li>
            </ul>
            </article>
            <article>
                <h2>Info</h2>
                <p><%=user.description %></p>
            </article>
        </section>
        <section>
            <a href=/logout> Uitloggen </a> </i> <a href="/users/delete"> Wis mijn account </a> </i>
        </section>
    </main>
    <% include ../partials/footer.ejs %>