<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body id="register">
  <header>
    <nav>
      <img src="" alt="logo">
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/matches">Matches</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/profile">Profiel</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div id="login-box">

      <h1>Maak je account aan!</h1>
      <form action="/users/add" method="POST">
        <div class="left">
          <label>Voornaam</label>
          <input type="text" name="first_name" required>
          <br>
          <label>Achternaam</label>
          <input type="text" name="last_name" required>
          <br>
          <label>Leeftijd</label>
          <input type="text" name="age" required>
          <br>
          <label>Over jezelf</label>
          <textarea name=description rows=6 required></textarea>
          <br>
          <button type="submit" value="submit">Register</button>
        </div>
        <div class="right">
            <label>Sport</label>
            <input type="text" name="sport" required>
            <br>
            <label>Email</label>
            <input type="text" name="email" required>
            <br>
            <label>Wachtwoord</label>
            <input type="password" name="password" required>
            <br>
        </div>
      </form>
    </div>
  </main>
  <% include ../partials/footer.ejs %>