<!DOCTYPE html>
<html lang="NL">
   <head>
      <title>Single Sport Dating</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="index.css" />
   </head>
   <body id="explore">
      <header>
         <nav>
            <img src="" alt="logo">
            <ul>
              <li><a href="home.html" title="home">Home</a></li>
              <li><a href="explore.html" title="Explore">Explore</a></li>
              <li><a href="login.html">Log in</a></li>
              <li><a href="profile.html">My Profile</a></li>
            </ul>
         </nav>
      </header>
      <main>
         <section>
            <h1>Leden in de buurt</h1>
         </section>
            <article>
            </article>
         </section>
      </main>
   </body>
</html>
