<!DOCTYPE html>
<html lang="NL">
   <head>
      <title>Single Sport Dating</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="index.css" />
   </head>
   <body id="inlog">
      <header>
         <nav>
            <img src="" alt="logo">
            <ul>
              <li><a href="home.html" title="home">Home</a></li>
              <li><a href="explore.html" title="Explore">Explore</a></li>
              <li><a href="login.html">Log in</a></li>
              <li><a href="profile.html">My Profile</a></li>
            </ul>
         </nav>
      </header>
      <main>
         <!--sectie/gedeelte van de pagina-->
         <section>
            <article>
               <h1>Log hier in om naar sportieve singles te zoeken</h1>
               <form action="home.html" method="get">
                  <fieldset>
                     <legend>Inloggen</legend>
                     <label>
                     E-mail<input type="email" required>
                     </label>
                     <label>
                     Wachtwoord<input type="password" required>
                     </label>
                     <input type="submit" value="Inloggen">
                     <a href="">wachtwoord vergeten</a>
                  </fieldset>
               </form>
            </article>
            <article>
               <h2>Of meld je aan met</h2>
               <ul>
                  <li>Instagram</li>
                  <li>Facebook</li>
                  <li>Twitter</li>
               </ul>
               <a href="home.html">Log in</a>
            </article>
         </section>
      </main>
      <footer>
         <p>© 2019 Online Sport Dating</p>
      </footer>
   </body>
</html>
